<section id="footer-sec">
    <div class="container">
        <div class="row  pad-bottom">
            <div class="col-md-4">
                <h4><strong>クラシックシンフォニー楽団</strong></h4>
                <p>
                    1850年に設立された歴史のある楽団です。
                </p>
                <a href="{{ path("app_toppage_index") }}">詳細</a>
            </div>
            <div class="col-md-4">
                <h4><strong>ソーシャルメディア</strong></h4>
                <p>
                    <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
                </p>
            </div>
            <div class="col-md-4">
                <h4><strong>連絡先</strong></h4>
                <p>
                    東京都新宿区市谷左内町21-13<br/>
                </p>
                <a href="{{ path("app_toppage_index") }}">お問い合わせ</a>
            </div>
        </div>
    </div>
</section>
