<section id="offer">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">お知らせ</div>
            <div class="panel-body">
                {{ information }}
            </div>
        </div>
    </div>
</section>
