<section class="note-sec">
    <div class="container">
        <div class="row text-center pad-row" >
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 ">
                <i class="fa fa-quote-left fa-3x"></i>
                <p>
                    音楽とは、
                    生涯にわたる修練と深い研究を必要とする技芸なのです。
                    <br />
                    マルティーニ神父
                </p>
            </div>
        </div>
    </div>
</section>
