<section id="offer">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">新着ブログ記事</div>
            <div class="panel-body">
                <ul>
                    {% for blog in blogList %}
                        <li>
                            [{{ blog.targetDate|date('Y年m月d日') }}]
                            {{ blog.title }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
