<html>
<body>
<div>
    <h1>公演情報</h1>
    <ul>
        {% for concertInfo in concertList %}
            <li>
                {{ loop.index }}
                {{ concertInfo.date }}
                {{ concertInfo.place }}
                {{ concertInfo.time }}開演
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
