{% extends "layout.html.twig" %}

{% block title %}お問い合わせ{{ parent() }}{% endblock %}

{% block body %}
<section id="home" class="head-main-img">
    <div class="container">
        <div class="row text-center pad-row">
            <div class="col-md-10 col-md-offset-1">
                <h1><span class="back-light">お問い合わせ - 送信完了</span></h1>
            </div>
        </div>
    </div>
</section>

<section id="inquiry-sec">
    <div class="container">
        <div class="row pad-row">
            お問い合わせありがとうございました。
        </div>
    </div>
</section>
{% endblock %}
